@import '../../App.scss';

#projects {
    @include flexbox(space-around, auto);
    flex-wrap: wrap;
}

#project {
    background-color: #212529;
    @include flexbox(auto, auto);
    flex-direction: column;
    overflow: hidden;
    align-items: center;
    border-radius: 2%;
    padding: 0.25em;
    margin: 1em;
    text-decoration: none;
    transition: all .15s ease-in-out; 

    @media(max-width: 1249px){
        width: 40vw;
    }

    @media(max-width: 768px){
        width: 60vw;
        height: 60vw;
    }

    @media(max-width: 576px){
        width: 80vw;
        height: 80vw;
    }

    .project-picture {
        border: 1px solid rgb(125, 125, 255);
        width: 90%;
    }
      
    .projects-content {
        @include flexbox(center, center);
        flex-direction: column;
        box-shadow: 0px 0px 4px black;
        margin-top: 2em;
        padding-top: 1em;
        padding-bottom: 1em;
    }
    
    .project-name {
        font-size: 1.5em;
        color: rgb(140, 140, 255);
        font-weight: bolder;

        @media(max-width: 1399px){
            font-size: 1.4em;
        }

        @media(max-width: 849px){
            font-size: 1.25em;
        }

        @media(max-width: 768px){
            font-size: 4vw;   
        }

    }
    
    .project-uses {
        font-size: 1em;
        font-weight: bolder;
        color: rgb(180, 100, 255);

        @media(max-width: 1399px){
            font-size: 0.95em;
        }

        @media(max-width: 849px){
            font-size: 0.85em;
        }

        @media(max-width: 768px){
            font-size: 2.5vw;
        }
    }
    
    .project-description {
        font-size: 0.85em;
        padding: 0.5em;
        max-width: 92%;
        color: white;
        overflow: hidden;

        @media(max-width: 849px){
            font-size: 0.75em;
        }

        @media(max-width: 768px){
            font-size: 2vw;
            overflow-y: scroll;
        }

        @media(max-width: 576px){
            font-size: 3vw;
        }
    }

    .project-description::-webkit-scrollbar {
        width: 0;
        background: transparent; 
        scrollbar-width: none;
        -ms-overflow-style: none;
    }

    &:hover, &:active {
        transform: scale(1.1);
        background-color: rgb(190, 190, 255);
        box-shadow: 0px 0px 5px black;

        .project-name{
            -webkit-text-stroke: 1px black;
        }

        .project-uses, .project-description{
            color: rgb(0, 0, 80);
        }

        .project-picture {
            border: 1px solid blue;
        }
    }
  }

