@import '../../App.scss';

#projects {

    @include flexbox(center, center);

    >div{
        width: 1280px;
        height: 720px;
        background-color: whitesmoke;

        /*
            Bootstrap stops decorating the links on smaller devices as it gets rid of the title so 
            this ensures that it's still appears correctly.
        */
        :link, :visited{
            text-decoration: none; 
        }

        //Custom title which only displays on smaller devices.
        .project-title{
            display: none;
            position: absolute;
            width: 100%;
            bottom: 0px;
            text-align: center;
            color: white;
            font-weight: bold;
            text-shadow: 2px 2px 5px black;
            background-color: rgba(184, 184, 184, 0.5);
        }

        .carousel-caption{
            text-shadow: 2px 2px 5px black;
            background-color: rgba(184, 184, 184, 0.5);
        }

        .project-image{
            border: 1px solid black;
            padding: 1px;
            width: 100%;
            height: 720px;
        }

        //Better defines the control buttons as they can be hard to see sometimes.
        .carousel-control-prev-icon, .carousel-control-next-icon{
            background-color: rgba(184, 184, 184, 0.7);
        }

        @media(max-width: 1400px){
            width: 1050px;
            height: 590px;

            //Carousel requires a precise height for the image otherwise it's slightly off position.
            .project-image{
                height: 590px;
            }
        }

        @media(max-width: 1200px){
            width: 900px;
            height: 506px;

            .project-image{
                height: 506px;
            }
        }

        @media(max-width: 993px){
            width: 680px;
            height: 360px;

            .project-image{
                height: 360px;
            }
        }

        @media(max-width: 767px){
            width: 500px;
            height: 281px;

            .project-image{
                height: 281px;
            }

            //Once bootstrap stops supporting captions the custom title is displayed.
            .project-title{
                display: block;
                font-size: 1.5em;
            }
        }

        @media(max-width: 576px){
            width: 80vw;
            height: 45vw;

            .project-image{
                height: 45vw;
            }

            .project-title{
                font-size: 4.5vw;
            }
        }
    }
}


