@import '../../App.scss';

//Using id instead of class to ensure that it doesn't interfere with the Bootstrap styling.
#projects {

    @include flexbox(center, center);

    >div{
        width: 1280px;
        height: 720px;
        background-color: whitesmoke;

        .carousel-caption{
            text-shadow: 2px 2px 5px black;
            background-color: rgba(184, 184, 184, 0.5);
        }

        .project-image{
            border: 1px solid black;
            padding: 1px;
            width: 100%;
            height: 720px;
        }

        .carousel-control-prev-icon, .carousel-control-next-icon{
            background-color: rgba(184, 184, 184, 0.7);
        }

        @media(max-width: 1400px){
            width: 1050px;
            height: 590px;

            .project-image{
                height: 590px;
            }
        }

        @media(max-width: 1200px){
            width: 900px;
            height: 506px;

            .project-image{
                height: 506px;
            }
        }

        @media(max-width: 993px){
            width: 680px;
            height: 360px;

            .project-image{
                height: 360px;
            }
        }

        @media(max-width: 768px){
            width: 500px;
            height: 281px;

            .project-image{
                height: 281px;
            }
        }

        @media(max-width: 576px){
            width: 80vw;
            height: 45vw;

            .project-image{
                height: 45vw;
            }
        }
    }
}

